/**********************************************************
  Add Google Fonts
**********************************************************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/**********************************************************
  Reset Default Properties Start
**********************************************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* Now 1rem = 1em = 10px */

  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

/**********************************************************
  Reset Default Properties End
**********************************************************/

/***********************************************************************************************
  Actual Document Styling Start
***********************************************************************************************/

/**********************************************************
  Wrapper Start
**********************************************************/
.wrapper {
  width: 100%;
  height: 100%;
  background-image: url(https://plus.unsplash.com/premium_photo-1721626134068-96e37bf4d97a?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 30rem;
  perspective-origin: center center;
}

/**********************************************************
  Form Container Start
**********************************************************/
.form-container {
  width: 33rem;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.114);
  border-top: 1px solid rgba(255, 255, 255, 0.365);
  border-left: 1px solid rgba(255, 255, 255, 0.281);
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.057),
    -5px -5px 7px rgba(0, 0, 0, 0.082);
  transition: all 0.4s ease-out;
}

.form-container:hover {
  transition: all 0.4s ease-out;
  transform: rotateX(20deg);
}

.contact-us-heading {
  font-weight: 600;
  font-size: 3.5rem;
  word-spacing: 0.5rem;
  text-transform: capitalize;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.295);
  margin-bottom: 3rem;
}

.input-fields-container {
  perspective: 9rem;
  perspective-origin: bottom bottom;
}

.input-fields-container li {
  list-style-type: none;
  padding: 0.8rem;
  margin-block: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0);
  border-top: 1px solid rgba(255, 255, 255, 0.365);
  border-left: 1px solid rgba(255, 255, 255, 0.281);
  border-radius: 0.5rem;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.input-fields-container li:hover {
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: rgba(255, 255, 255, 0.103);
  transform: rotateX(-10deg);
}

.input-fields-container li input {
  outline: none;
  padding-block: 0.3rem;
  flex: 1;
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  font-weight: 500;
  letter-spacing: 0.3px;
  font-family: "Poppins", sans-serif;
}

.input-fields-container li input::placeholder {
  color: #fff;
  font-weight: 500;
}

/**********************************************************
  Submit Button Start
**********************************************************/
.submit-btn {
  border-color: transparent;
  border-width: 1px;
  cursor: pointer;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  margin-top: 1rem;
  backdrop-filter: blur(80px);
  background-color: rgba(255, 255, 255, 0);
  border-top: 1px solid rgba(255, 255, 255, 0.365);
  border-left: 1px solid rgba(255, 255, 255, 0.281);
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  color: #fff;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.submit-btn:hover {
  background-color: rgba(255, 255, 255, 0.103);
  border: 1px solid white;
}

/***********************************************************************************************
  Actual Document Styling End
***********************************************************************************************/
